[submodule "dotbot"]
	path = dotbot
	url = git://github.com/anishathalye/dotbot.git
	branch = master
[submodule "zplug"]
	path = zplug
	url = git://github.com/zplug/zplug.git
	branch = master
[submodule "repl"]
	path = repl
	url = git://github.com/defunkt/repl-completion.git
	branch = master
